<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Рецепты</title>
    </head>

    <body>
        <header>
            <h1>Рецепты</h1>
            <nav>
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'add_recipe' %}">Добавить рецепт</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            &copy; 2023 Рецепты
        </footer>
    </body>

</html>